@if(isModalOpen) {
<app-log-form-modal [modalMode]="modalMode" [log]="modalLog" (close)="closeModal()"
	(submit)="onModalSubmit($event)"></app-log-form-modal>
}
<main class="max-w-5xl mx-auto m-2 bg-quaternary flex flex-col gap-4 shadow-md p-8 rounded-md">
	<header class="grid grid-cols-[1fr,10rem] border-b border-primary justify-between">
		<span>
			<p class="text-3xl font-bold text-primary">Finaktiva Logs</p>
			<p class="text-lg font-medium text-secondary">Welcome to our log management system</p>
		</span>
		<span class="gap-2 w-full flex justify-end ">
			<app-icon-button icon="bx-grid-alt" />
			<app-icon-button icon="bx-grid-horizontal" />
			<app-icon-button icon="bx-list-ul" />
		</span>
	</header>
	<form class="grid grid-cols-[3fr,1fr,1fr] gap-2" [formGroup]="filterForm">
		<app-options class="w-full" formControlName="type" label="Type" [options]="typeOptions"></app-options>
		<app-input formControlName="from" label="from" type="date"></app-input>
		<app-input formControlName="to" label="to" type="date"></app-input>
	</form>
	@if(invalidFilterDate) {
	<span class="text-red-500">"From" date must be lower that "to" date</span>
	}
	<main class="w-full border border-primary rounded-md p-4 max-h-64 overflow-auto pb-40">
		<app-log-list [logs]="(filteredLogs$ | async) ?? []" (optionSelected)="openModal($event)" />
	</main>
	<span>
		<app-button (click)="createLog()" label="Create new log" />
	</span>
	<footer class="w-full grid grid-cols-[1fr,3rem]">
		<span>
			<app-options [formControl]="themeFormControl" label="Theme" [options]="(themes$ | async) ?? []" />
		</span>
		<span class="flex w-full justify-end self-end py-1">
			<div class="bg-primary size-2"></div>
			<div class="bg-secondary size-2"></div>
			<div class="bg-tertiary size-2"></div>
			<div class="bg-quaternary size-2"></div>
		</span>
	</footer>
</main>
